##### CONFIGURACION INICIAL

In [1]:
# LIBRERIAS USADAS
import pandas as pd
from datetime import datetime

In [2]:
# LEER CSV
flights_spain = pd.read_csv(r'..\data_in\F\ES\F_ES.txt', sep=",", low_memory=False)
flights_spain.head()

,aeropuerto,fecha_hora,llegada_salida,airline_prin,nvuelo_prin,aeropuerto_origen_destino,aeropuerto_escala,asientos,tipo_avion,airline,nvuelo
0,ACE,31-07-2022 06:45,L,PM,703,LPA,LPA,72,AT7,NaN,NaN
1,ACE,31-07-2022 06:45,L,PM,703,LPA,LPA,72,AT7,UX,2145
2,ACE,31-07-2022 06:45,L,RSC,500,LPA,LPA,72,AT7,NaN,NaN
3,ACE,31-07-2022 07:10,L,VOE,3550,OVD,OVD,156,319,NaN,NaN
4,ACE,31-07-2022 07:15,L,FR,6770,AGP,AGP,189,73H,NaN,NaN

##### TRANSFORMACIONES

In [3]:
# COLUMNA FECHA A TIPO DATE
flights_spain['fecha_hora'] = pd.to_datetime(flights_spain['fecha_hora'], format='%d-%m-%Y %H:%M').dt.date

In [4]:
# CADA TRAYECTO ESTA DOS VECES, UNO POR EL AEROPUERTO DE IDA Y OTRO EL DE VUELTA
flights_spain = flights_spain.loc[flights_spain['llegada_salida'] == 'S']

In [5]:
# RENAME COLUMNS
column_names = {'aeropuerto':'airport_start_id',
    "fecha_hora":"date",
    "aeropuerto_origen_destino": "airport_end_id",
    "asientos":"capacity"}
flights_spain.rename(columns = column_names, inplace = True)

In [6]:
# REMOVE COLUMNS
flights_spain = flights_spain[["airport_start_id", "airport_end_id", "date", "capacity"]]
flights_spain.head()

     airport_start_id airport_end_id        date  capacity
4184              ACE            LPA  2022-07-31        72
4185              ACE            TFN  2022-07-31        72
4186              ACE            ZAZ  2022-07-31       180
4187              ACE            LPA  2022-07-31        72
4188              ACE            LPA  2022-07-31        72

##### GUARDAR RESULTADOS

In [7]:
flights_spain.to_csv(r'..\data_out\trips_F_ES.csv', sep=";", decimal=',', index = False)